{namespace ts=DWenzel\T3events\ViewHelpers}

<div class="eventWrap">
	<div class="eventImg">
		<f:link.action action="show" arguments="{event: event}" pageUid="{settings.detailPid}">
            <f:if condition="{event.images}">
                <f:alias map="{image: event.images.0}">
                        <f:image image="{image}"
                                 width="{settings.event.list.image.width}"
                                 height="{settings.event.list.image.height}"
                                 alt="{event.headline}"
                                 title="{event.headline} {event.subtitle}"
                        />
                </f:alias>
            </f:if>
		</f:link.action>
	</div>
	<div class="eventDescription">
		<f:link.action action="show" arguments="{event: event}" pageUid="{settings.detailPid}"
			class="buttonTicket blueGradient">
			<ts:event.performances event="{event}" type="crucialStatus"
				class="ticketSignal" tagName="span" classChildren="status" />
			<f:translate key="tx_t3events.tickets" />

		</f:link.action>
		<h2 class="eventHeader">
			<f:link.action action="show" arguments="{event: event}" pageUid="{settings.detailPid}">
				{event.headline}
			</f:link.action>
		</h2>


		<p class="eventSubtitle">
			<f:link.action action="show" arguments="{event: event}" pageUid="{settings.detailPid}">
				{event.subtitle}
			</f:link.action>
		</p>
		<f:if condition="{event.performances->f:count()}>1">
			<f:then>
				<f:comment>locations</f:comment>
				<p class="locations">
					{ts:location.count(event: event)} <f:translate key="label.differentLocations" />
				</p>

				<f:comment>dates</f:comment>
				<ts:event.performances event="{event}" type="dateRange"
					class="date range" tagName="p"
					/>
			</f:then>
			<f:else>
				<f:for each="{event.performances}" as="performance">
					<p class="date single">
						<f:format.date format="d.m.Y">{performance.date}</f:format.date>
					</p>
				</f:for>
			</f:else>
		</f:if>
	</div>
</div>
