<table class="tx-t3events">
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.headline" />
		</td>
		<td>
			{event.headline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.subtitle" />
		</td>
		<td>
			{event.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.keywords" />
		</td>
		<td>
			{event.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.image" />
		</td>
		<td>
			{event.image}
		</td>
	</tr>
    <tr>
        <td>
            <f:translate key="tx_t3events_domain_model_event.images" />
        </td>
        <td>
            <f:if condition="{event.images}">
                <f:for each="{event.images}" as="image">
                    <f:if condition="{image.originalResource.link}">
                        <f:then>
                            <f:link.typolink parameter="{image.originalResource.link}">
                                <f:image
                                    image="{image}"
                                    title="{image.title}"
                                    alt="{image.alternative}"
                                    maxHeight="{settings.event.detail.media.image.maxHeight}"
                                    maxWidth="{settings.event.detail.media.image.maxWidth}"
                                />

                                <f:if condition="{image.originalResource.description}">
                                    <p class="event-single-imgcaption">{image.originalResource.description}</p>
                                </f:if>
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <f:image
                                image="{image}"
                                title="{image.title}"
                                alt="{image.alternative}"
                                maxHeight="{settings.event.detail.media.image.maxHeight}"
                                maxWidth="{settings.event.detail.media.image.maxWidth}"
                            />

                            <f:if condition="{image.originalResource.description}">
                                <p class="event-single-imgcaption">{image.originalResource.description}</p>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:for>
            </f:if>
        </td>
    </tr>
</table>