<table class="tx-t3events">
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.headline" />
		</td>
		<td>
			{event.headline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.subtitle" />
		</td>
		<td>
			{event.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.keywords" />
		</td>
		<td>
			{event.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_event.image" />
		</td>
		<td>
			{event.image}
		</td>
	</tr>
</table>