<f:if condition="{settings.debug.event}">
	<f:debug title="event">{event}</f:debug>
</f:if>
<f:if condition="{settings.debug.settings}">
	<f:debug title="settings">{settings}</f:debug>
</f:if>

<div class="eventSingle clearfix">
	<f:if condition="{event.image}">
		<f:then>
			<div class="eventImg eventLeft fl">
				<f:image src="uploads/tx_t3events/{event.image}"
					width="{settings.event.single.image.width}"
					height="{settings.event.single.image.height}"
					alt="{event.headline}"
					title="{event.headline} {event.subtitle}"
					/>
			</div>
		</f:then>
		<f:else>
			<div class="eventImg eventLeft fl">
				<f:image src="{settings.event.single.dummyImage}"
					width="{settings.event.single.image.width}"
					height="{settings.event.single.image.height}"
					alt="{event.headline}"
					title="{event.headline} {event.subtitle}" />
			</div>
		</f:else>
</div>
</f:if>
<div class="eventRight fl">
	<div class="eventDescription">
		<h2>{event.headline}</h2>

		<div>
			<h3>{event.subtitle}</h3>
			<f:format.html>{event.description}</f:format.html>
		</div>
	</div>
	<div class="eventPerformances">
		<div class="legends small desktop clearfix">
			<div class="infos city">
				<div class="inside">
					<f:translate key="tx_t3events_domain_model_eventlocation.place" />
				</div>
			</div>
			<div class="infos location">
				<div class="inside">
					<f:translate key="tx_t3events_domain_model_eventlocation" />
				</div>
			</div>
			<div class="infos date">
				<div class="inside">
					<f:translate key="tx_t3events_domain_model_performance.date" />
					,
					<f:translate key="tx_t3events.time" />
				</div>
			</div>
			<div class="infos ticketSignal">
				<div class="inside">
					<f:translate key="tx_t3events.tickets" />
				</div>
			</div>
		</div>
		<f:for each="{event.performances}" as="performance" iteration="iteration">
			<f:render partial="Performance/Item" arguments="{performance: performance, event: event, iteration: iteration}" />
		</f:for>
	</div>
</div>
</div>