<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    data-namespace-typo3-fluid="true">
    

<f:layout name="Default" />

<f:section name="main">
	<h1>Listing for Venue</h1>

	<f:flashMessages />

	<table class="tx_t3events">
		<tr>
			<th>
				<f:translate key="tx_t3events_domain_model_venue.title" />
			</th>
			<th></th>
			<th></th>
		</tr>

		<f:for each="{venues}" as="venue">
			<tr>
				<td>
					<f:link.action action="show" arguments="{venue : venue}"> {venue.title}</f:link.action>
				</td>
				<td>
					<f:link.action action="edit" arguments="{venue : venue}">Edit</f:link.action>
				</td>
				<td>
					<f:link.action action="delete" arguments="{venue : venue}">Delete</f:link.action>
				</td>
			</tr>
		</f:for>
	</table>

	<f:link.action action="new">New Venue</f:link.action>
</f:section>
</html>