<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    data-namespace-typo3-fluid="true">
    
<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="typo3-messages">
			<div class="typo3-message message-error">
				<div class="message-body">
					<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
						<div class="property-path">
							<f:translate key="{propertyPath}" default="{propertyPath}"></f:translate>
						</div>
						<ul>
							<f:for each="{errors}" as="error">
								<li>{error}</li>
							</f:for>
						</ul>
					</f:for>
				</div>

			</div>

		</div>
	</f:if>
</f:form.validationResults>
</html>