<table class="tx-t3events" >
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_ticketclass.title" />
		</td>
		<td>
			{ticketClass.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_ticketclass.color" />
		</td>
		<td>
			{ticketClass.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_ticketclass.price" />
		</td>
		<td>
			{ticketClass.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_ticketclass.type" />
		</td>
		<td>
			{ticketClass.type}
		</td>
	</tr>
</table>