<table class="tx-t3events" >
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.name" />
		</td>
		<td>
			{eventLocation.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.address" />
		</td>
		<td>
			{eventLocation.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.image" />
		</td>
		<td>
			{eventLocation.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.zip" />
		</td>
		<td>
			{eventLocation.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.place" />
		</td>
		<td>
			{eventLocation.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.details" />
		</td>
		<td>
			{eventLocation.details}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_eventlocation.www" />
		</td>
		<td>
			{eventLocation.www}
		</td>
	</tr>
</table>