<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    data-namespace-typo3-fluid="true">
    
<f:layout name="Default" />

<f:section name="main">
	<h1>Single View for TicketClass</h1>

	<f:flashMessages />
	<f:render partial="TicketClass/Properties" arguments="{ticketClass:ticketClass}" />
	<f:link.action action="list">Back to list</f:link.action>
	<br />
	<f:link.action action="new">New TicketClass</f:link.action>
</f:section>
</html>