{namespace ts=Webfox\T3events\ViewHelpers}
<table class="calendarMonth">
	<thead>
		<tr class="header">
			<f:if condition="{configuration.viewMode}==2">
				<f:then>
					<f:comment> allow display of navigation in view mode miniMonth</f:comment>
					<f:if condition="{settings.showCalendarNavigation}">
						<td colspan="7" class="navigation">
							<f:widget.link arguments="{display: 'previous', period: '2', date: '{ts:format.date(format:\'U\',date:\'-11 months\',base:\'{configuration.startDate}\')}'}">
								<i class="fa fa-2x fa-angle-double-left"></i>
							</f:widget.link>
							<f:widget.link arguments="{display: 'previous', period: '2', date: '{configuration.startDate.timestamp}'}">
								<i class="fa fa-2x fa-angle-left"></i>
							</f:widget.link>
							<span class="legend">{f:format.date(date: '{month.startDate}', format: 'F Y')}</span>
							<f:widget.link arguments="{display: 'next', period: '2', date: '{configuration.startDate.timestamp}'}">
								<i class="fa fa-2x fa-angle-right"></i>
							</f:widget.link>
							<f:widget.link arguments="{display: 'previous', period: '2', date: '{ts:format.date(format:\'U\',date:\'+13 months\',base:\'{configuration.startDate}\')}'}">
								<i class="fa fa-2x fa-angle-double-right"></i>
							</f:widget.link>
						</td>
					</f:if>
				</f:then>
				<f:else>
					<td colspan="7" class="navigation">
						<span class="legend">{f:format.date(date: '{month.startDate}', format: 'F Y')}</span></td>
					</td>
				</f:else>
			</f:if>
		</tr>
		<tr>
			<f:for each="{calendar.weekDayLabels}" as="weekDay">
				<th class="weekDay">{weekDay}</th>
			</f:for>
		</tr>
	</thead>
	<tbody>
		<f:for each="{month.weeks}" as="calendarWeek">
			<tr>
				<f:for each="{calendarWeek.days}" as="calendarDay">
					<td class="day
					{f:if(condition: '{calendarDay.month} != {month.month}', then: 'outOfMonth')}
					{f:if(condition: '{calendarDay.isCurrent}', then: 'current')}
					{f:if(condition: '{f:count(subject: \'{calendarDay.events}\')}',
						then: 'hasEvent')}">
						<div class="labelDay">{calendarDay.day}</div>
						<f:for each="{calendarDay.events}" as="singleEvent">
							<div class="eventTooltip">
								<span class="eventTooltipHeadline">
									<f:link.action
										pluginName="events"
										controller="Event"
										action="show" arguments="{event: singleEvent}" pageUid="{settings.detailPid}">
										{singleEvent.headline}
									</f:link.action>
								</span>
							</div>
						</f:for>
					</td>
				</f:for>
			</tr>
		</f:for>
	</tbody>
</table>

