<table class="calendarMonth">
	<thead>
		<tr class="header">
			<f:if condition="{showNavigation}">
				<f:then>
					<td colspan="7" class="navigation">
						<f:widget.link arguments="{display: 'previous', period: '2', date: '{configuration.startDate.timestamp}'}"
							data="{calendarId: calendarId}"
							ajax="{configuration.ajaxEnabled}"
						>
							<i class="fa fa-2x fa-angle-left"></i>
						</f:widget.link>
						<span class="legend">{f:format.date(date: '{calendar.currentMonth.startDate}', format: 'F Y')}</span>
						<f:widget.link arguments="{display: 'next', period: '2', date: '{configuration.startDate.timestamp}'}"
							data="{calendarId: calendarId}"
							>
							<i class="fa fa-2x fa-angle-right"></i>
						</f:widget.link>
					</td>
					</f:then>
					<f:else>
						<td colspan="7" class="navigation">
							<span class="legend">{f:format.date(date: '{calendar.currentMonth.startDate}', format: 'F Y')}</span></td>
						</td>
					</f:else>
				</f:if>
			</tr>
			<tr>
				<f:for each="{calendar.weekDayLabels}" as="weekDay">
					<th class="weekDay">{weekDay}</th>
				</f:for>
			</tr>
	</thead>
	<tbody>
		<f:for each="{calendar.currentMonth.weeks}" as="calendarWeek">
			<tr>
				<f:for each="{calendarWeek.days}" as="calendarDay">
					<td class="day
					{f:if(condition: '{calendarDay.month} != {calendar.currentMonth.month}', then: 'outOfMonth')}
					{f:if(condition: '{calendarDay.isCurrent}', then: 'current')}
					{f:if(condition: '{f:count(subject: \'{calendarDay.events}\')}',
						then: 'hasEvent')}">
						<div class="labelDay">{calendarDay.day}</div>
						<f:for each="{calendarDay.events}" as="singleEvent">
							<div class="eventTooltip">
								<span class="eventTooltipHeadline">
									<f:link.action
										pluginName="events"
										controller="Event"
										action="show" arguments="{event: singleEvent}" pageUid="{settings.detailPid}">
										{singleEvent.headline}
									</f:link.action>
								</span>
							</div>
						</f:for>
					</td>
				</f:for>
			</tr>
		</f:for>
	</tbody>
</table>

