a.button,
input {
	display: block;
	width: 225px;
	height: auto;
	padding: 5px 3px 4px 3px;
	background: #FFFFFF;
	border: 1px solid #1C3862;
	color: #1C3862;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
}

/* restore pagination input field */
#typo3-dblist-pagination input {
	display: inline;
	width: auto;
}

input[type=checkbox] {
	width: auto;
	display: inline-block;
}

input[type=radio] {
	width: auto;
	display: inline-block;
}

a.button,
input[type=submit] {
	display: inline-block;
	width: auto;
	padding: 8px 22px;
	background: #1C3862;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}

a.button:hover,
input[type=submit]:hover {
	background: #CD1421;
}

input[type=file] {
	width: 228px;
	padding: 0 3px 0 0;
}

textarea {
	display: block;
	width: 222px;
	margin: 5px 0 10px 0;
	padding: 1px 5px;
	background: #FFFFFF;
	border: 1px solid #1C3862;
	color: #1C3862;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

select {
	display: block;
	width: 233px;
	margin: 5px 0 10px;
	padding: 1px;
	background: #FFFFFF;
	border: 1px solid #1C3862;
	color: #1C3862;
	font-size: 1em;
}

fieldset {
	padding: 0;
}
