{namespace ts=Tx_T3events_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a list of teasers.

<f:section name="main">
<f:if condition="{settings.debug.teasers}">
	<f:debug title="teasers">{teasers}</f:debug>
</f:if>
<f:if condition="{settings.debug.settings}">
	<f:debug title="settings">{settings}</f:debug>
</f:if>
<f:if condition="{settings.debug.highlights}">
		<f:debug title="highlights">{highlights}</f:debug>
</f:if>	
	<ts:comment>highlights</ts:comment>
	<f:if condition="{settings.highlightsToTop}">
		<div class="teaser highlights">
			<f:render partial="Teaser/Item" arguments="{teasers: highlights, settings: settings}" />
		</div>
	</f:if>
	
	<ts:comment>not highlighted teasers</ts:comment>
	<div class="teaser">
		<f:render partial="Teaser/Item" arguments="{teasers: teasers, settings: settings}" />
	</div>
</f:section>
