{namespace ts=Webfox\T3events\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a quick menu (selectbox).

<f:section name="main">
	<f:if condition="{settings.debug.settings}">
		<f:debug title="settings (QuickMenu)">{settings}</f:debug>
	</f:if>
	<f:if condition="{settings.debug.quickMenu.entries}">
		<f:debug title="genres">{genres}</f:debug>
		<f:debug title="venues">{venues}</f:debug>
	</f:if>
	<f:if condition="{settings.debug.quickMenu.demand}">
		<f:debug title="overwriteDemand">{overwriteDemand}</f:debug>
	</f:if>
	<f:flashMessages />
	
	<div class="quickMenu">
		<div class="text">
			<f:translate key="tx_t3events.searchAllEventsByGenre.hint" />
		</div>
		<div class="selectbox">
			<f:form name="overwriteDemand" action="list"
				pageUid="{settings.event.list.pid}">
				
				<f:comment>show genres only</f:comment>
				<f:if condition="{0: settings.quickMenuType}=={0: 'genres'}">
					<f:form.select 
						id="tx_t3eventsQuickMenue"
						name="overwriteDemand[genre]" 
						options="{genres}"
						optionValueField="uid" 
						optionLabelField="title"
						value="{overwriteDemand.genre}"
					/>
				</f:if>
				
				<f:comment>show venues only</f:comment>
				<f:if condition="{0:settings.quickMenuType}=={0: 'venues'}"> 
					<f:form.select 
					  id="tx_t3eventsQuickMenue"
						name="overwriteDemand[venue]" 
						options="{venues}"
						optionValueField="uid" 
						optionLabelField="title"
						value="{overwriteDemand.venue}"
					/>
				</f:if>
				
				<f:comment>show event types only</f:comment>
				<f:if condition="{0:settings.quickMenuType}=={0: 'eventTypes'}"> 
					<f:form.select 
					  id="tx_t3eventsQuickMenue"
						name="overwriteDemand[eventType]" 
						options="{eventTypes}"
						optionValueField="uid" 
						optionLabelField="title"
						value="{overwriteDemand.eventType}"
					/>
				</f:if>
				
				<f:comment>show genres, venues and event types</f:comment>
				<f:if condition="{0:settings.quickMenuType}=={0: ''}">
					<f:form.select 
						id="tx_t3eventsQuickMenue"
						name="overwriteDemand[genre]" 
						options="{genres}"
						optionValueField="uid" 
						optionLabelField="title"
						value="{overwriteDemand.genre}"
					/>
					<f:form.select 
					  id="tx_t3eventsQuickMenue"
						name="overwriteDemand[venue]" 
						options="{venues}"
						optionValueField="uid" 
						optionLabelField="title"
						value="{overwriteDemand.venue}"
					/>
					<f:form.select 
					  id="tx_t3eventsQuickMenue"
						name="overwriteDemand[eventType]" 
						options="{eventTypes}"
						optionValueField="uid" 
						optionLabelField="title"
						value="{overwriteDemand.eventType}"
					/>
					<f:form.hidden 
					  id="tx_t3eventsQuickMenue"
					  	name="overwriteDemand[categoryConjunction]"
					  	value="{settings.categoryConjunction}"
					/>

					
				</f:if>
				<f:form.submit 
				  id="tx_t3eventsQuickMenueSubmit"
					name="submit" 
					value="{f:translate(key: 'tx_t3events.button.label.search', default: 'Suchen')}"
				/>
			</f:form>
		</div>
	</div>
</f:section>
