<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:comment>This Template is responsible for displaying a single view for a event</f:comment>

<f:section name="main">

	<f:flashMessages />
	<f:render partial="Event/SingleItem" arguments="{event: event, settings: settings}" />
	<f:link.action action="list" pageUid="{settings.listPid}">
		<f:translate key="tx_t3events.backToList" />
	</f:link.action>
	<br />
</f:section>
</html>