<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    data-namespace-typo3-fluid="true">
    
<div class="list-item short">
	<p class="date place">
		<f:format.date format="d.m.Y">{performance.date}</f:format.date>
		<f:if condition="{performance.eventLocation.place}">
			<span class="place"> - {performance.eventLocation.place}</span><br />
		</f:if>
	</p>
	<p>
		<f:link.action
			action="show"
			arguments="{performance: performance}"
			pageUid="{settings.detailPid}">
			{performance.course.headline}
		</f:link.action>
	</p>
</div>
</html>