<div class="list-item short">
	<p class="date place">
		<f:format.date format="d.m.Y">{performance.date}</f:format.date>
		<f:if condition="{performance.eventLocation.place}">
			<span class="place"> - {performance.eventLocation.place}</span><br />
		</f:if>
	</p>
	<p>
		<f:link.action
			action="show"
			controller="Event"
			pluginName="EventList"
			arguments="{event: performance.event}"
			pageUid="{settings.detailPid}">
			{f:if(condition: performance.event.headline, then: performance.event.headline, else: performance.event.title)}
		</f:link.action>
	</p>
</div>
