<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    data-namespace-typo3-fluid="true">
    
<table class="tx-t3events">
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.date" />
		</td>
		<td>
			{performance.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.admission" />
		</td>
		<td>
			{performance.admission}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.begin" />
		</td>
		<td>
			{performance.begin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.end" />
		</td>
		<td>
			{performance.end}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.status_info" />
		</td>
		<td>
			{performance.statusInfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.external_provider_link" />
		</td>
		<td>
			{performance.externalProviderLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.additional_link" />
		</td>
		<td>
			{performance.additionalLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.provider_type" />
		</td>
		<td>
			{performance.providerType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.image" />
		</td>
		<td>
			{performance.image}
		</td>
	</tr>
    <tr>
        <td>
            <f:translate key="tx_t3events_domain_model_performance.images" />
        </td>
        <td>
            <f:if condition="{performance.images}">
                <f:for each="{performance.images}" as="image">
                    <f:if condition="{image.originalResource.link}">
                        <f:then>
                            <f:link.typolink parameter="{image.originalResource.link}">
                                <f:image
                                    image="{image}"
                                    title="{image.title}"
                                    alt="{image.alternative}"
                                    maxHeight="{settings.performance.detail.media.image.maxHeight}"
                                    maxWidth="{settings.performance.detail.media.image.maxWidth}"
                                />

                                <f:if condition="{image.originalResource.description}">
                                    <p class="performance-single-imgcaption">{image.originalResource.description}</p>
                                </f:if>
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <f:image
                                image="{image}"
                                title="{image.title}"
                                alt="{image.alternative}"
                                maxHeight="{settings.performance.detail.media.image.maxHeight}"
                                maxWidth="{settings.performance.detail.media.image.maxWidth}"
                            />

                            <f:if condition="{image.originalResource.description}">
                                <p class="performance-single-imgcaption">{image.originalResource.description}</p>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:for>
            </f:if>
        </td>
    </tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.plan" />
		</td>
		<td>
			{performance.plan}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.no_handling_fee" />
		</td>
		<td>
			{performance.noHandlingFee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.price_notice" />
		</td>
		<td>
			{performance.priceNotice}
		</td>
	</tr>
	<tr>
        <td>
            <f:translate key="tx_t3events_domain_model_performance.relatedSchedules"/>
        </td>
        <td>
            <f:if condition="{performance.relatedSchedules}">
                <f:for each="{performance.relatedSchedules}" as="schedule">
                    {schedule.date -> f:format.date()} - {schedule.event.headline}<br>
                </f:for>
            </f:if>
        </td>
    </tr>
</table>
</html>
