<table class="tx-t3events" >
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.date" />
		</td>
		<td>
			{performance.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.admission" />
		</td>
		<td>
			{performance.admission}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.begin" />
		</td>
		<td>
			{performance.begin}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.end" />
		</td>
		<td>
			{performance.end}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.status_info" />
		</td>
		<td>
			{performance.statusInfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.external_provider_link" />
		</td>
		<td>
			{performance.externalProviderLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.additional_link" />
		</td>
		<td>
			{performance.additionalLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.provider_type" />
		</td>
		<td>
			{performance.providerType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.image" />
		</td>
		<td>
			{performance.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.plan" />
		</td>
		<td>
			{performance.plan}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.no_handling_fee" />
		</td>
		<td>
			{performance.noHandlingFee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3events_domain_model_performance.price_notice" />
		</td>
		<td>
			{performance.priceNotice}
		</td>
	</tr>
</table>