<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ts="http://typo3.org/ns/DWenzel/T3events/ViewHelpers"
    xmlns:t3c="http://typo3.org/ns/DWenzel/T3calendar/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:comment>This Template is responsible for creating a calendar view of event performances.</f:comment>

<f:section name="main">
	<div class="tx-t3calendar-widget" id="tx-t3calendar-calendar-widget">
		<t3c:widget.calendar
				objects="{performances}"
				configuration="{calendarConfiguration}"
				id="tx-t3calendar-calendar-widget"
				parameters="{settings}"
		/>
	</div>
</f:section>
</html>