<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{settings.debug.performance.settings}">
		<f:debug title="settings">{settings}</f:debug>
	</f:if>
	<f:if condition="{settings.debug.performance.list}">
		<f:debug title="performances">{performances}</f:debug>
		<f:debug title="demand">{demand}</f:debug>
	</f:if>
	<f:if condition="{settings.templateLayout} == 2">
		<f:then>
			<div class="performance-list short">
				<f:flashMessages renderMode="div"/>
				<f:render section="performanceShortList" arguments="{performances: performances, settings: settings}"/>
			</div>
		</f:then>
		<f:else>
			<div class="performance-list">
				<f:flashMessages renderMode="div"/>
				<f:if condition="{performances->f:count()} > 20">
					<f:then>
						<f:render section="pagination" arguments="{performances: performances, settings: settings}"/>
					</f:then>
					<f:else>
						<f:render section="performanceList" arguments="{performances: performances, settings: settings}"/>
					</f:else>
				</f:if>
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="pagination">
	<f:widget.paginate objects="{performances}" as="paginatedPerformances" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 3}">
		<f:render section="performanceList" arguments="{performances: paginatedPerformances, settings: settings}"/>
	</f:widget.paginate>
</f:section>
<f:section name="performanceList">
	<f:for each="{performances}" as="performance" iteration="iteration">
		{f:if(condition: '{iteration.isFirst}', then: ' <hr /> ')}
		<f:render partial="Performance/ListItem" arguments="{performance: performance, settings: settings}" />
		<hr />
	</f:for>
</f:section>

<f:section name="performanceShortList">
	<f:for each="{performances}" as="performance" iteration="iteration">
		<f:render partial="Performance/ListItemShort" arguments="{performance: performance, settings: settings}" />
	</f:for>
</f:section>